/*Reset style
===================== =====================*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

ul li,
ol li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

a,
a:visited {
  text-decoration: none;
}

img {
  vertical-align: top;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Global
===================== =====================*/

body {
  height: 100%;
  color: #848789;
  font-family: 'Lato',sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  background-color: #fff;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

._container {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  color: #353738;
}

/* Header
===================== =====================*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 155px;
}

/* Main nav
===================== */

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__column-left ul,
.main-nav__column-right ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__column-left ul li,
.main-nav__column-right ul li {
  position: relative;
  padding: 0 35px 0 0;
}

.main-nav__column-left ul li:last-child,
.main-nav__column-right ul li:last-child {
  padding: 0;
}

.main-nav__column-left ul li:last-child:after,
.main-nav__column-right ul li:last-child:after {
  display: none;
}

.main-nav__column-left ul li:after,
.main-nav__column-right ul li:after {
  content: '';
  position: absolute;
  bottom: 7px;
  right: 16.5px;
  width: 2px;
  height: 2px;
  background-color: #4d4959;
}

.main-nav__column-left {
  position: relative;
}

.main-nav__column-center {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 64px;
}

.main-nav__link {
  display: inline-block;
  color: #4d4959;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: #64c29e;
}

.main-nav__logo {
  z-index: 3;
}

.main-nav__logo img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.main-nav.active {
  display: block;
  right: 0;
}

/* Burger
===================== */

.burger {
  position: relative;
  z-index: 3;
  width: 35px;
  height: 25px;
  display: none;
  font-size: 0;
  color: transparent;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.burger::before,
.burger:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #64c29e;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger span {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  margin-top: -1px;
  background-color: #64c29e;
}

.burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.burger.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 11px;
}

.burger.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 12px;
}

/* Intro
===================== =====================*/

.intro {
  position: relative;
  min-height: 100vh;
}

.intro img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* About
===================== =====================*/

.about {
  padding: 117px 0 140px;
  text-align: center;
  background-color: #f7f7f7;
}

.about__icon {
  display: inline-block;
  width: 60px;
  margin: 0 0 25px 0;
}

.about__icon img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.about__title {
  margin: 0 0 25px 0;
}

.about__text {
  font-size: 18px;
  line-height: 188.88889%;
}

/* Work
===================== =====================*/

.work__row-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__column-left {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.666%;
          flex: 0 1 66.666%;
}

.work__column-left img {
  -o-object-position: top;
     object-position: top;
}

._no-webp .work__column-left:before {
  background: url("../img/icon/work-1.png") center/contain no-repeat; }

.work__column-left:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.work__column-left:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.work__column-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 70px 50px;
  padding-right: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}

.work__info::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 50%;
  z-index: 1;
  width: 15px;
  height: 15px;
  margin-left: -7.5px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
}

.work__icon {
  width: 45px;
  margin: 0 auto 25px;
}

.work__icon img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.work__title {
  margin: 0 0 20px 0;
}

.work__text {
  position: relative;
  padding: 0 0 40px 0;
  text-align: justify;
  line-height: 162.5%;
}

.work__text::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50px;
  height: 1px;
  margin-left: -25px;
  background-color: #d7d7d8;
}

.work__photo {
  position: relative;
  padding: 19%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.work__photo:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.work__row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

._no-webp .work__row-center .work__column-left::before {
  background: url("../img/icon/work-2.png") center/contain no-repeat; }

.work__row-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work__row-bottom .work__column-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.work__row-bottom .work__column-left::before {
  display: none;
}

._no-webp .work__row-bottom .work__column-left:first-child::before {
  background: url("../img/icon/work-3.png") center/contain no-repeat; }

.work__row-bottom .work__column-left:first-child::before {
  display: block;
}

.work__row-bottom .work__column-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

/* Twit
===================== =====================*/

.twit {
  position: relative;
  width: 100%;
  background-color: #f7f7f7;
}

.twit .slick-dots {
  position: absolute;
  bottom: 15%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.twit .slick-dots li {
  margin: 0 5px;
  font-size: 0;
  line-height: 0;
  border: 2px solid #a9afb3;
  border-radius: 50%;
  background-color: #f7f7f7;
}

.twit .slick-dots button {
  width: 10px;
  height: 10px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  font-size: 0;
  opacity: .2;
  cursor: pointer;
}

.twit .slick-active button {
  opacity: 1;
  background-color: #a9afb3;
}

.twit__slide {
  padding: 114px 0 175px;
  padding-top: 114px;
  padding-bottom: 175px;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.twit__item {
  max-width: 1040px;
  margin: 0 auto;
  text-align: center;
}

.twit__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  margin: 0 auto 20px;
}

.twit__icon img {
  max-width: 100%;
}

.twit__header {
  margin-bottom: 25px;
}

.twit__title {
  display: inline-block;
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
}

.twit__time {
  display: inline-block;
  color: #848789;
  font-weight: 300;
  letter-spacing: 1.8px;
}

.twit__text {
  font-size: 24px;
  line-height: 34px;
}

/* Shop
===================== =====================*/

.aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside__row {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.aside__row--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.aside__column--bottom {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.aside__photo {
  display: block;
  padding-bottom: 100%;
}

.aside__photo--bottom {
  padding-bottom: 50%;
}

.shop__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop__column-center {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.665%;
          flex: 0 1 16.665%;
}

.shop__photo-center {
  display: block;
  padding-bottom: 200%;
}

.shop__column-right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.aside__photo,
.shop__photo-center {
  position: relative;
}

.aside__photo:before,
.shop__photo-center:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(107, 178, 148, 0.7);
  opacity: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

._no-webp .aside__photo::after, ._no-webp .shop__photo-center::after {
  background: url(../img/icon/work-4.png) center top no-repeat; }

.aside__photo::after,
.shop__photo-center::after {
  content: 'shop now';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 100px;
  padding-top: 35px;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  color: #fff;
  opacity: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.aside__photo:hover::before,
.aside__photo:focus::before,
.shop__photo-center:hover::before,
.shop__photo-center:focus::before {
  opacity: 1;
}

.aside__photo:hover::after,
.aside__photo:focus::after,
.shop__photo-center:hover::after,
.shop__photo-center:focus::after {
  opacity: 1;
}

/* Shop footer
=====================*/

.shop__footer {
  text-align: center;
  background-color: #282f35;
  padding: 75px 0;
  padding-top: 75px;
  padding-bottom: 75px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 300px;
  height: 50px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px solid #82868a;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.btn:focus,
.btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Feedback
===================== =====================*/

.feedback {
  padding: 110px 0;
  padding-top: 110px;
  padding-bottom: 110px;
}

.feedback__logo {
  width: 100px;
  height: 100px;
  margin: 0 auto 30px;
}

.feedback__logo img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.feedback__title {
  margin: 0 0 35px 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  text-align: center;
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.feedback__input {
  width: 400px;
  height: 70px;
  margin: 0 8px 15px 0;
  padding: 0 30px;
  border: 2px solid #d3d7d9;
}

.feedback__input::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 60px;
  font-style: italic;
  color: #929292;
}

.feedback__input::-moz-placeholder {
  font-size: 20px;
  line-height: 60px;
  font-style: italic;
  color: #929292;
}

.feedback__input:-ms-input-placeholder {
  font-size: 20px;
  line-height: 60px;
  font-style: italic;
  color: #929292;
}

.feedback__input::-ms-input-placeholder {
  font-size: 20px;
  line-height: 60px;
  font-style: italic;
  color: #929292;
}

.feedback__input::placeholder {
  font-size: 20px;
  line-height: 60px;
  font-style: italic;
  color: #929292;
}

.feedback__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.feedback__input:focus::-moz-placeholder {
  color: transparent;
}

.feedback__input:focus:-ms-input-placeholder {
  color: transparent;
}

.feedback__input:focus::-ms-input-placeholder {
  color: transparent;
}

.feedback__input:focus::placeholder {
  color: transparent;
}

.feedback__input:focus {
  border: 2px solid #64c29e;
}

.feedback__btn {
  padding: 0 45px;
  font-size: 24px;
  line-height: 70px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #64c29e;
  -webkit-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
  cursor: pointer;
}

.feedback__btn:hover,
.feedback__btn:focus {
  background-color: #38a27a;
}

/* Main Footer
===================== =====================*/

.main-footer {
  padding: 110px 0;
  padding-top: 110px;
  padding-bottom: 110px;
  color: #848789;
  background-color: #f7f7f7;
}

.main-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer__address {
  font-size: 13.9px;
  font-style: italic;
  line-height: 20px;
}

.main-footer__address span {
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
}

.main-footer__social {
  margin: 0 20px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social__item {
  width: 46px;
  height: 46px;
  margin: 5px 15px 0 0;
  border-radius: 50%;
  -webkit-box-shadow: 2px 0 5px #8a8a8a;
          box-shadow: 2px 0 5px #8a8a8a;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.social__item:hover,
.social__item:focus {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

.social__item:last-child {
  margin-right: 0;
}

.social__item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author__text {
  margin-right: 10px;
  line-height: 17px;
  font-style: italic;
}

@media (min-width: 1130px) {
  .work__info {
    padding-right: calc(20px + 30 * ((100vw - 320px) / 1280));
  }

  .work__info {
    padding-left: calc(20px + 30 * ((100vw - 320px) / 1280));
  }
}

@media (min-width: 1700px) {
  body {
    font-size: 26px;
  }

  .title {
    font-size: 32px;
  }

  .main-nav__link {
    font-size: 26px;
  }

  .about__text {
    font-size: 26px;
  }

  .work__column-left:before {
    width: 160px;
    height: 160px;
  }

  .work__column-left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .work__column-right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

@media (max-width: 1130px) {
  .work__info {
    padding-right: calc(20px + 30 * ((100vw - 320px) / 810));
  }

  .work__info {
    padding-left: calc(20px + 30 * ((100vw - 320px) / 810));
  }

  .work__info {
    padding-bottom: calc(25px + 25 * ((100vw - 320px) / 810));
  }

  .twit__slide {
    padding-top: calc(50px + 64 * ((100vw - 320px) / 810));
  }

  .twit__slide {
    padding-bottom: calc(70px + 105 * ((100vw - 320px) / 810));
  }

  .shop__footer {
    padding-top: calc(25px + 50 * ((100vw - 320px) / 810));
  }

  .shop__footer {
    padding-bottom: calc(25px + 50 * ((100vw - 320px) / 810));
  }

  .feedback {
    padding-top: calc(30px + 80 * ((100vw - 320px) / 810));
  }

  .feedback {
    padding-bottom: calc(30px + 80 * ((100vw - 320px) / 810));
  }

  .main-footer {
    padding-top: calc(30px + 80 * ((100vw - 320px) / 810));
  }

  .main-footer {
    padding-bottom: calc(30px + 80 * ((100vw - 320px) / 810));
  }
}

@media (max-width: 1090px) {
  .work__row-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .work__column-left {
    padding-bottom: 45%;
  }

  .work__photo {
    padding: 16%;
  }

  .work__row-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .work__row-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .shop__column-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .shop__column-center {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }

  .shop__column-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 1050px) {
  .twit__item {
    width: 100%;
    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .about {
    padding: 50px 0;
  }
}

@media (max-width: 830px) {
  .work__column-left:before {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 767px) {
  .shop__column-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .shop__column-center {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .aside__photo:before,
  .shop__photo-center:before {
    display: none;
  }

  .aside__photo::after,
  .shop__photo-center::after {
    opacity: .7;
  }
}

@media (max-width: 656px) {
  .main-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 655px) {
  .main-footer__address {
    margin-bottom: 50px;
    text-align: center;
  }

  .main-footer__social {
    margin-bottom: 50px;
  }
}

@media (max-width: 595px) {
  .header {
    position: fixed;
    min-height: auto;
    padding: 7px 0;
    background-color: #f2f3f9;
  }

  .header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #f2f3f9;
    -webkit-box-shadow: 0 3px 10px #d0cece;
            box-shadow: 0 3px 10px #d0cece;
  }

  .header__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-nav {
    position: fixed;
    right: -200%;
    top: 0;
    z-index: 1;
    width: 80%;
    height: 100%;
    padding: 120px 0 50px;
    background-color: #f9fafb;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    overflow: auto;
  }

  .main-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .main-nav__column-left ul,
  .main-nav__column-right ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-nav__column-left ul li,
  .main-nav__column-right ul li {
    padding: 0 0 50px 0;
    text-align: center;
  }

  .main-nav__column-left ul li:after,
  .main-nav__column-right ul li:after {
    bottom: 23.5px;
    left: 50%;
    width: 5px;
    height: 5px;
    margin-left: -2.5px;
    border-radius: 50%;
    background-color: #64c29e;
  }

  .main-nav__column-left {
    padding: 0 0 50px 0;
  }

  .main-nav__column-left:after {
    content: '';
    position: absolute;
    bottom: 23.5px;
    left: 50%;
    width: 5px;
    height: 5px;
    margin-left: -2.5px;
    border-radius: 50%;
    background-color: #64c29e;
  }

  .main-nav__column-center {
    display: none;
  }

  .main-nav__link {
    font-size: 22px;
  }

  .main-nav__logo {
    width: 74px;
  }

  .burger {
    display: block;
    position: absolute;
    right: 20px;
  }
}

@media (max-width: 575px) {
  .about__text {
    font-size: 17px;
    line-height: 28px;
  }

  .work__column-left:before {
    width: 60px;
    height: 60px;
  }

  .work__text {
    padding: 0 0 20px 0;
  }
}

@media (max-width: 525px) {
  .twit .slick-dots {
    bottom: 25px;
  }

  .twit__text {
    line-height: 30px;
    font-size: 22px;
  }
}

@media (max-width: 500px) {
  .feedback__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .feedback__input {
    width: 100%;
  }

  .feedback__btn {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .main-nav__logo {
    width: 55px;
  }

  .about {
    padding: 40px 0;
  }

  .work__column-left:before {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 375px) {
  .twit__text {
    line-height: 25px;
    font-size: 18px;
  }
}

@media (max-width: 1090px) and (min-width: 767px) {
  .shop__column-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

._webp .work__column-left:before { background: url(../img/icon/work-1.webp) center/contain no-repeat; }

._webp .work__row-center .work__column-left::before { background: url(../img/icon/work-2.webp) center/contain no-repeat; }

._webp .work__row-bottom .work__column-left:first-child::before { background: url(../img/icon/work-3.webp) center/contain no-repeat; }

._webp .aside__photo::after, ._webp .shop__photo-center::after { background: url(../img/icon/work-4.webp) center top no-repeat; }